html, body {
    margin: 0;
    padding: 0;
    min-height:100vh;
}

#tabsPourGraphiques {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}


#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#intro p {
    width: 400px;
    margin-bottom: 100px;
}

#blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.graphique {
    width:600px;
    height: 500px;
}
.block p {
    width: 500px;
    margin: 20px;
}
.block {
    display: flex;
    flex-direction: row;
    width:max-content;
    align-items: center;
}

.block .graphique {
    margin: 20px;
}

div#block2.block{
    flex-direction: row-reverse;
}

div#block4.block {
    flex-direction: column;
}

@media (max-width: 1280px) {
    .block {
        flex-direction: column;
    }
    div#block2.block{
        flex-direction: column;
    }

}

@media (max-width: 670px) {
    .graphique {
        width:300px;
        height: 150px;
    }
    .block p {
        width: 300px;
        margin: 30px;
    }

    #intro p {
        width: 300px;
    }

    .block .graphique {
        margin: 10px;
    }

    .block .p {
        margin : 10px;
    }
    .block {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
