html, body {
    margin: 0;
    padding: 0;
    min-height:100vh;
}

#tabsPourGraphiques {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

#checkbox {
    width: 500px;
    margin: auto;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    margin-left: 100px;
}
#intro p {
    width: 400px;
}


#blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.graphique {
    width:1000px;
    height: 500px;
}
.block p {
    width: 800px;
    margin: 20px;
}
.block {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    box-shadow: 10px 10px 10px 10px rgb(139, 139, 139);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}




@media (max-width: 1280px) {
    .graphique {
        width:500px;
        height: 500px;
    }
    .block p {
        width: 400px;
    }
    .block {
        width: 500px;
    }

}

@media (max-width: 670px) {
    #intro {
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 50px;
    }
    #intro p {
        width: 300px;
    }
    #checkbox {
        width: 300px;
        margin: auto;
    }
    .graphique {
        width:300px;
        height: 150px;
    }
    .block p {
        width: 300px;
    }

    #intro p {
        width: 300px;
    }

    .block .graphique {
        margin: 10px;
    }

    .block .p {
        margin : 10px;
    }
    .block {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 300px;
    }
}
